{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="contact-form">
  <div class="container">

    <div class="contact-box row">
        <div class="block">
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}}: The team is distributed over several countries including Senegal, South Africa, the Netherlands, Germany, and the UK</li>
            <li><i class="ion-ios-person-outline"></i>{{ i18n "contact_person" }} (healthsites.io): Mark Herringer    <a href="{{ .Site.Params.email }}"><i class="ion-ios-email-outline"></i></a> <a href="https://twitter.com/sharehealthdata"><i class="ion-social-twitter-outline"></i></a></li>
            <li><i class="ion-ios-person-outline"></i>{{ i18n "contact_person" }} (OpenStreetMap Senegal): Lamine Ndiaye <a href="https://twitter.com/openstreetmapsn"><i class="ion-social-twitter-outline"></i></a></li>

            <li><i class="ion-ios-email-outline"></i>{{i18n "email"}}: <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
          </ul>
       </div>
     </div>
  </div>
</section>

{{ end }}
