{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.user_stories_3.enable }}
{{ with $data.user_stories_3 }}
<section class="feature bg-2" style="background-image: url('{{ .image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <p><a href="{{ .link }}">{{ .click }}</a></p>
      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}

{{ if $data.user_stories_4.enable }}
{{ with $data.user_stories_4 }}
<section class="feature bg-2" style="background-image: url('{{ .image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <p><a href="{{ .link }}">{{ .click }}</a></p>
      </div>
    </div>
  </div>
</section>


{{ end }}
{{ end }}