{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}


<section class="collaborator-board">
  <div class="container">
    <div class="row">
    </div>

    
    {{ with $data.collaborators.project_lead }}
    <div class="row">
      <h2>{{ .title }}: <a href="{ .link }}">{{ .company1 }}</a></h2>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{{ .person1_img }}" alt="{{ .person1_name }}" class="img-responsive">
            </div>
            <div class="s-link">
              <a href="{{ .person1_twitter | absURL}}"><i class="fa fa-twitter"></i></a>
            </div>
         </div>
         <div class="team-title">
           <h5>{{ .person1_name }}</h5>
           <span>{{ .person1_title}}: <a href="{{ .link }}">{{ .company }}</a></span>
         </div>
       </div>
   </div>

  {{ end }}
  
  {{ with $data.collaborators.data_collect}}
     <div class="row">
      <h2>{{ .title }}: {{ .company1 }} & {{ .company2 }} </h2>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{{ .person1_img }}" alt="{{ .person1_name }}" class="img-responsive">
            </div>
              <div class="s-link">
                <a href="{{ .person1_twitter}}"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
         </div>
         <div class="team-title">
           <h5>{{ .person1_name }}</h5>
           <span>{{ .person1_title }}: {{ .company1 }}</span>
         </div>
       </div>
  </div>
  
  {{ end }}
  
  {{ with $data.collaborators.data_analysis}}
  
   <div class="row">
      <h2>{{ .title }}: <a href="{{ .link1 }}">{{ .company1 }}</a> & <a href="{{ .link2 }}">{{ .company2 }}</a> </h2>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{{ .person1_img }}" alt="{{ .person1_name }}" class="img-responsive">
            </div>
              <div class="s-link">
                <a href="{{ .person1_twitter }}"><i class="fa fa-twitter"></i></a>
              </div>
         </div>
         <div class="team-title">
           <h5>{{ .person1_name }}</h5>
           <span>{{ .person1_title1 }}: <a href="{{ .link1 }}">{{ .company1 }}</a></span><br>
           <span>{{ .person1_title2 }}: <a href="{{ .link3 }}">{{ .company3 }}</a></span>
         </div>
         </div>
         
         <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{{ .person2_img }}" alt="{{ .person2_name }}" class="img-responsive">
            </div>
              <div class="s-link">
                <a href="{{ .person2_twitter }}"><i class="fa fa-twitter"></i></a>
              </div>
         </div>
         <div class="team-title">
           <h5>{{ .person2_name }}</h5>
           <span>{{ .person2_title1 }}: <a href="{{ .link1 }}">{{ .company1 }}</a></span><br>
           <span>{{ .person2_title2 }}: <a href="{{ .link4 }}">{{ .company4 }}</a></span>
         </div>
         </div>
         <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{{ .person3_img }}" alt="{{ .person3_name }}" class="img-responsive">
            </div>
              <div class="s-link">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
         </div>
         <div class="team-title">
           <h5>{{ .person3_name }}</h5>
           <span>{{ .person3_title }}: <a href="{{ .link5 }}">{{ .compan2 }}</a></span>
         </div>

    </div>
  </div>
  
  {{ end }}
  
  </div>
</section>


{{ end }}