{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}


<section class="team">
  <div class="container">
    <div class="row">
      <br>
      <br>
    </div>


    		          

    		    		
    	<div class="row text-center">
{{ range $data.collaborators.collaborator }}        
		
    		    <div class="col-md-4 col-sm-4">
	
    				   
    				   	<img class="img-rounded" alt="{{ .person_name }} photo" src="{{ .person_img }}" > 
    				   	
    				   	<div class="team-member">
                        
    				   	<h4>{{ .person_name }}</h4>
    				   	
    				   	<p>{{ if .person_title1 }}{{ .person_title1 }}: {{ end }} {{ .company1 }}</p>
    				   		<p>{{ if .person_title2 }}{{ .person_title2 }}: {{ end }} {{ .company2 }}</p>
                        
    				   	</div>
    				   	
    				   	<p class="social">
    				   	  {{ if .person_twitter }}
    				   		<a href="{{ .person_twitter }}"><span class="ion-social-twitter"></span></a>
    				   		{{ end }}
    				   		{{ if .person_linkedin }}
    				   		<a href="{{ .person_linkedin }}"><span class="ion-social-linkedin"></span></a>
    				   		{{ end }}
    				   	</p>

    		 </div> <!--col-lg-4 -->
   		 
    		 {{ end }}
      </div>  <!-- row text-center -->
    			

    		 </div>    

</section>
    				
{{ end }}

